.header {
    color: $fontColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    &__img--lightbulb {
        width: 200px;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    &__img {
        @media (max-width: 526px) {
            width: 250px;
        }
    }
    &__title {
        font-size: 72px;
        width: 700px;
        padding-left: 100px;
        margin-bottom: 2px;
        &--container {
            height: 385px;
        }
    }
    &__subtitle {
        margin-top: 3px;
        padding-left: 300px;
        font-size: 36px;
    }
}

.dupa {
    font: #fff;
}

.header__arrow {
    margin-bottom: 10px;
}
