.header {
    background-color: #8f8a8a;
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    &__container {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    &__img {
        @media (max-width: 526px) {
            width: 250px;
        }
        &__title {
            text-align: center;
        }
    }
}

.dupa {
    font: #fff;
}

.header__arrow {
    margin-bottom: 10px;
}
