.header {
    background-color: #8f8a8a;
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    &__img--lightbulb {
        width: 200px;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__container {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    &__img {
        @media (max-width: 526px) {
            width: 250px;
        }
        &__title {
            text-align: center;
        }
    }
}

.dupa {
    font: #fff;
}

.header__arrow {
    margin-bottom: 10px;
}
