@import '~normalize.css';

@import '_variables';
@import 'modules/header';
@import 'modules/about';
@import 'modules/footer';
@import 'modules/skill';

body {
    background: $background;
    color: $fontColor;
}

h2 {
    margin: 0px;
}
